.category {
    height: 96%;
}

.category div {
    width: 20%;
    height: 16%;
    border: 2px solid white;
}

.categoryTitleWrapper h1 {
    margin: 0;
    padding: 0;
}

.valueBox {
    border: 10px solid black !important;
    transition: all 600ms;
}