@import url('https://fonts.cdnfonts.com/css/monospac821-bt');

.category {
    height: 96%;
    width: 20%;
}

.categoryTitleWrapper {
    display: flex;
    height: 16%;
    justify-content: center;
    align-items: center;
    border: 6px solid black;
    padding: 1rem;


    h1 {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 1.8rem;
        font-family: 'Helvetica', sans-serif;
        text-align: center;
    }
}
