.mainContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: #050a8f;
    overflow-y: scroll;
    overflow-x: hidden;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        padding: 1rem;
        text-align: center;
    }

    ul {
        //text-align: center;
        margin-top: 5rem;
        list-style: none;
        width: 60%;
        margin: auto;

        li {
            margin: 1.3rem;
            font-size: 1.5rem;
        }
    }
}

.root {
    color: rgba(245, 20, 20, 0.772);
    font-weight: 700;
}

.highlight {
    color: rgba(245, 144, 20, 0.772);
    font-weight: 700;
}

.highlightData{
    color: rgba(29, 255, 4, 0.772);
    font-weight: 700;
}