@font-face {
    font-family: 'Gyparody Rg';
    font-style: normal;
    font-weight: 400;
    src: local('Gyparody Rg'), url('https://fonts.cdnfonts.com/s/2017/gyparody rg.woff') format('woff');
}

@font-face {
    font-family: 'Monospac821 BT';
    font-style: normal;
    font-weight: 400;
    src: local('Monospac821 BT'), url('https://fonts.cdnfonts.com/s/61285/MONOSPACE821BT.woff') format('woff');
}
@font-face {
    font-family: 'Monospac821 BT';
    font-style: italic;
    font-weight: 400;
    src: local('Monospac821 BT'), url('https://fonts.cdnfonts.com/s/61285/MONOSPACE821ITALICBT.woff') format('woff');
}
@font-face {
    font-family: 'Monospac821 BT';
    font-style: normal;
    font-weight: 700;
    src: local('Monospac821 BT'), url('https://fonts.cdnfonts.com/s/61285/MONOSPACE821BOLDBT.woff') format('woff');
}
@font-face {
    font-family: 'Monospac821 BT';
    font-style: italic;
    font-weight: 700;
    src: local('Monospac821 BT'), url('https://fonts.cdnfonts.com/s/61285/MONOSPACE821BOLDITALICBT.woff') format('woff');
}
@font-face {
    font-family: 'Monospace821W26-Hebrew';
    font-style: normal;
    font-weight: 400;
    src: local('Monospace821W26-Hebrew'), url('https://fonts.cdnfonts.com/s/61285/MONOSPACE 821 W26 HEBREW.woff') format('woff');
}
@font-face {
    font-family: 'Swiss721W26-HebrewRoman';
    font-style: normal;
    font-weight: 400;
    src: local('Swiss721W26-HebrewRoman'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 W26 HEBREW ROMAN.woff') format('woff');
}
@font-face {
    font-family: 'Swiss911 XCm BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swiss911 XCm BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 911 EXTRA COMPRESSED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swiss911 UCm BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swiss911 UCm BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 911 ULTRA COMPRESSED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swiss921 BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swiss921 BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS921BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Blk BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 Blk BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BLACK BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BlkCn BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 BlkCn BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BLACK CONDENSED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BlkEx BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 BlkEx BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BLACK EXTENDED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BlkOul BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 BlkOul BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BLACK OUTLINE BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BlkRnd BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 BlkRnd BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BLACK ROUNDED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 Cn BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 CONDENSED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BdCnOul BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 BdCnOul BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BOLD CONDENSED OUTLINE BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Ex BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 Ex BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 EXTENDED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BdOul BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 BdOul BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BOLD OUTLINE BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BdRnd BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 BdRnd BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BOLD ROUNDED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Hv BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 Hv BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 HEAVY BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Lt BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 Lt BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 LIGHT BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 LtCn BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 LtCn BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 LIGHT CONDENSED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 LtEx BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 LtEx BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 LIGHT EXTENDED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Md BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 Md BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 MEDIUM BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Th BT';
    font-style: normal;
    font-weight: 400;
    src: local('Swis721 Th BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 THIN BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Blk BT';
    font-style: italic;
    font-weight: 400;
    src: local('Swis721 Blk BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BLACK ITALIC BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BT';
    font-style: italic;
    font-weight: 400;
    src: local('Swis721 BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 ITALIC BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Cn BT';
    font-style: italic;
    font-weight: 400;
    src: local('Swis721 Cn BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 CONDENSED ITALIC BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Hv BT';
    font-style: italic;
    font-weight: 400;
    src: local('Swis721 Hv BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 HEAVY ITALIC BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Lt BT';
    font-style: italic;
    font-weight: 400;
    src: local('Swis721 Lt BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 LIGHT ITALIC BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 LtCn BT';
    font-style: italic;
    font-weight: 400;
    src: local('Swis721 LtCn BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 LIGHT CONDENSED ITALIC BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Md BT';
    font-style: italic;
    font-weight: 400;
    src: local('Swis721 Md BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 MEDIUM ITALIC BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Th BT';
    font-style: italic;
    font-weight: 400;
    src: local('Swis721 Th BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS721THINITALICBT.woff') format('woff');
}
@font-face {
    font-family: 'Swiss 911 Compressed';
    font-style: normal;
    font-weight: 500;
    src: local('Swiss 911 Compressed'), url('https://fonts.cdnfonts.com/s/61285/SWISS911COMPRESSED.woff') format('woff');
}
@font-face {
    font-family: 'Swiss 924';
    font-style: normal;
    font-weight: 500;
    src: local('Swiss 924'), url('https://fonts.cdnfonts.com/s/61285/SWISS924.woff') format('woff');
}
@font-face {
    font-family: 'Swiss721W26-HebrewBold';
    font-style: normal;
    font-weight: 700;
    src: local('Swiss721W26-HebrewBold'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 W26 HEBREW BOLD.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BT';
    font-style: normal;
    font-weight: 700;
    src: local('Swis721 BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BOLD BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    src: local('Swis721 Cn BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BOLD CONDENSED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 Ex BT';
    font-style: normal;
    font-weight: 700;
    src: local('Swis721 Ex BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BOLD EXTENDED BT.woff') format('woff');
}
@font-face {
    font-family: 'Swis721 BT';
    font-style: italic;
    font-weight: 700;
    src: local('Swis721 BT'), url('https://fonts.cdnfonts.com/s/61285/SWISS 721 BOLD ITALIC BT.woff') format('woff');
}
@font-face {
    font-family: 'Swiss 721 Condensed';
    font-style: italic;
    font-weight: 700;
    src: local('Swiss 721 Condensed'), url('https://fonts.cdnfonts.com/s/61285/SWISS721BTBOLDCONDENSEDITALIC.woff') format('woff');
}
@font-face {
    font-family: 'Swiss 721 Black Condensed';
    font-style: italic;
    font-weight: 900;
    src: local('Swiss 721 Black Condensed'), url('https://fonts.cdnfonts.com/s/61285/SWISS721BTBLACKCONDENSEDITALIC.woff') format('woff');
}

@font-face {
    font-family: 'ITC Korinna Std';
    font-style: italic;
    font-weight: 400;
    src: local('ITC Korinna Std'), url('https://fonts.cdnfonts.com/s/62878/ITC Korinna Std Kursiv.woff') format('woff');
}
@font-face {
    font-family: 'ITC Korinna Std';
    font-style: normal;
    font-weight: 700;
    src: local('ITC Korinna Std'), url('https://fonts.cdnfonts.com/s/62878/ITC Korinna Std Bold.woff') format('woff');
}
@font-face {
    font-family: 'ITC Korinna Std';
    font-style: normal;
    font-weight: 900;
    src: local('ITC Korinna Std'), url('https://fonts.cdnfonts.com/s/62878/ITC Korinna Std Heavy.woff') format('woff');
}
@font-face {
    font-family: 'ITC_ Korinna';
    font-style: normal;
    font-weight: 400;
    src: local('ITC_ Korinna'), url('https://fonts.cdnfonts.com/s/62878/ITC_ Korinna Normal.woff') format('woff');
}
@font-face {
    font-family: 'Korinna';
    font-style: normal;
    font-weight: 400;
    src: local('Korinna'), url('https://fonts.cdnfonts.com/s/62878/Korinna Italic.woff') format('woff');
}
@font-face {
    font-family: 'ITC Korinna';
    font-style: normal;
    font-weight: 500;
    src: local('ITC Korinna'), url('https://fonts.cdnfonts.com/s/62878/ITC Korinna Regular.woff') format('woff');
}
@font-face {
    font-family: 'ITC Korinna LT';
    font-style: normal;
    font-weight: 500;
    src: local('ITC Korinna LT'), url('https://fonts.cdnfonts.com/s/62878/ITC Korinna LT Regular.woff') format('woff');
}
@font-face {
    font-family: 'ITC_ Korinna';
    font-style: normal;
    font-weight: 700;
    src: local('ITC_ Korinna'), url('https://fonts.cdnfonts.com/s/62878/ITC_ Korinna Bold.woff') format('woff');
}
@font-face {
    font-family: 'ITC Korinna';
    font-style: normal;
    font-weight: 700;
    src: local('ITC Korinna'), url('https://fonts.cdnfonts.com/s/62878/ITC Korinna Bold.woff') format('woff');
}
@font-face {
    font-family: 'ITC Korinna LT';
    font-style: normal;
    font-weight: 700;
    src: local('ITC Korinna LT'), url('https://fonts.cdnfonts.com/s/62878/ITC Korinna LT Bold.woff') format('woff');
}

@font-face {
    font-family: 'Klein Condensed Trial';
    font-style: normal;
    font-weight: 800;
    src: local('Klein Condensed Trial'), url('https://fonts.cdnfonts.com/s/22639/Klein-Condensed-ExtraBold-trial.woff') format('woff');
}
@font-face {
    font-family: 'Klein Condensed Trial';
    font-style: italic;
    font-weight: 800;
    src: local('Klein Condensed Trial'), url('https://fonts.cdnfonts.com/s/22639/Klein-Condensed-ExtraBold-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Klein Trial';
    font-style: normal;
    font-weight: 200;
    src: local('Klein Trial'), url('https://fonts.cdnfonts.com/s/22639/Klein-ExtraLight-trial.woff') format('woff');
}
@font-face {
    font-family: 'Klein Trial';
    font-style: italic;
    font-weight: 200;
    src: local('Klein Trial'), url('https://fonts.cdnfonts.com/s/22639/Klein-ExtraLight-Italic-trial.woff') format('woff');
}
@font-face {
    font-family: 'Klein Text Trial';
    font-style: normal;
    font-weight: 350;
    src: local('Klein Text Trial'), url('https://fonts.cdnfonts.com/s/22639/Klein-Text-Book-trial.woff') format('woff');
}
@font-face {
    font-family: 'Klein Text Trial';
    font-style: italic;
    font-weight: 350;
    src: local('Klein Text Trial'), url('https://fonts.cdnfonts.com/s/22639/Klein-Text-Book-Italic-trial.woff') format('woff');
}


/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_QOW4Ep0.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_R-W4Ep0.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_S-W4Ep0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SuW4Ep0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotomono/v22/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

