.main {
    background: #050a8f;
    height: 100vh;
}

.category {
    height: 96%;
}

.category div {
    width: 20%;
    height: 16%;
    border: 2px solid white;
}

.categoryTitleWrapper h1 {
    margin: 0;
    padding: 0;
}

.valueBox {
    border: 10px solid black !important;
    transition: all 600ms;
}

/* .fullScreen {
    position: fixed !important;
    z-index: 9999 !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
} */