@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/gyparody');
@import url('https://fonts.cdnfonts.com/css/itc-korinna-std');

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/img/jeopardy-background.jpg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size:cover;
}

.contentWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #060ee95f;
  padding: 2rem;
}

.themeSongButton {
  align-self: flex-end;
  background: rgb(255, 255, 255);
  border: none;
}

.themeSongButton:hover {
  cursor: pointer;
}

.smallerTitle {
  margin: 0;
  font-size: 7rem;
  font-family: 'Gyparody Rg', sans-serif;
  color: rgb(235, 166, 87);
  text-shadow: 10px 10px #000000;
}

.title {
  margin: 0;
  font-size: 12rem;
  font-family: 'Gyparody Rg', sans-serif;
  color: white;
}

.buttonsWrapper {
  display: flex;
}

.buttonsWrapper button {
  margin: 1rem;
  padding: 0.5rem 1rem;
}

.button {
  border: none;
  outline: none;
  background-color: rgb(235, 166, 87);
  font-size: 1.6rem;
  box-shadow: 10px 10px 10px black;
  font-family: 'ITC_ Korinna', sans-serif;
  transition: all 200ms
}

.button:hover {
  cursor: pointer;
  background: white;
  color: #060ee9
}